@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');


/* Main Styles */
* {
  box-sizing: border-box;
  font-family: 'Lato', serif; 
}

/* Navigation */
header {
  background-color: #D16BA5;
  padding: 1rem 0.5rem;
}

header a {
  font-size: 1.5rem;
}

header button:focus{
  outline: none;
}

#navbar-brand{
  font-size: 1.7rem;
}

#search-field {
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
}

.general-btn:focus {
  outline: none;
}

.general-btn:hover {
 background-color: #fc7c6b;
}

.general-btn {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  color: #eee;
  background-color: #FF8F80;
}

/* Main section styling */

#mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Movies Box styling */

.movie {
  margin: 0.7rem;
  width: 15rem;
  border-radius: 5px;
  background-color: #FF8F80;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Movie image */
.movie img {
  max-width: 100%;
}

/* Movie Basic info */
.movie-info {
  display: flex;
  justify-content: space-between;
  color: #eee;
  padding: 0.5rem;
  align-items: center;
  max-height: 100%;
}

.movie-info h3 {
  margin: 0;
  font-size: 1.21rem;
}

.movie-info span {
  background-color: #D16BA5;
  padding: 0.5rem;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.movie-info span.green {
  color: rgb(0, 214, 54);
}
.movie-info span.amber {
  color: rgb(255, 163, 87);
}
.movie-info span.red {
  color: rgb(223, 45, 0);
}

/* Contact Form */

#contact-section {
  padding: 2rem 0;
}

.contact-form-el {
  margin: 1rem 0;
}
